PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

{% if zfs_auto_snapshot_frequent_enabled -%}
*/15 * * * * root zfs-auto-snapshot --syslog --label=frequent --keep={{ zfs_auto_snapshot_frequent_keep }} //
{% endif %}
{% if zfs_auto_snapshot_hourly_enabled -%}
@hourly root zfs-auto-snapshot --syslog --label=hourly --keep={{ zfs_auto_snapshot_hourly_keep }} //
{% endif %}
{% if zfs_auto_snapshot_daily_enabled -%}
@daily root zfs-auto-snapshot --syslog --label=daily --keep={{ zfs_auto_snapshot_daily_keep }} //
{% endif %}
{% if zfs_auto_snapshot_weekly_enabled -%}
@weekly root zfs-auto-snapshot --syslog --label=weekly --keep={{ zfs_auto_snapshot_weekly_keep }} //
{% endif %}
{% if zfs_auto_snapshot_monthly_enabled -%}
@monthly root zfs-auto-snapshot --syslog --label=monthly --keep={{ zfs_auto_snapshot_monthly_keep }} //
{% endif %}
